body{
    background-color:gray;
    margin:0px;
}

.block{
    border:3px solid red;
    background-color:white;
    width:500px;
    height:250px;
    margin:15px;
}

.block--filled{
    background-color:red;
}
p{
    margin:0px;
    font-weight:bolder;
}